torch==2.4.1
bittensor==6.9.4
huggingface-hub==0.25.2
matplotlib==3.9.2
pydantic==1.10
python-dotenv==1.0.1
rich==13.9.2
safetensors==0.4.5
numpy==2.1.2
transformers==4.44.1
wandb==0.18.3
datasets==3.0.1
flash-attn==2.6.3
smart-open[s3]==7.0.5
taoverse==1.0.9
